{% extends 'base.html' %}


{% block content %}

    <form action="{{ url_for('movie.add_movie') }}" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title() }}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description() }}
        </div>
        <div>
            {{ form.duration.label }}
            {{ form.duration() }}
        </div>
        <div>
            {{ form.image.label }}
            {{ form.image() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>

{% endblock %}